:root {
  --primary-green: #216900;
  --light-green: #D5F2C8;
  --text-dark: #333333;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-dark);
  background: var(--white);
  font-family: var(--font-poppins), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
